## Enraged Rabbit : Carrot Feeder config file for ERCF EASY BRD v1.1
# This config sample assume you set the two J6 jumpers on 1-2 and 4-5, i.e. [..].[..]

[mcu ercf]
serial: /dev/serial/by-id/usb-Klipper_samd21g18a_37DEC6004134555020312E30382215FF-if00

# Carrot Feeder 5mm D-cut shaft
[manual_stepper gear_stepper]
step_distance: 0.001771
velocity: 35
accel: 150

[tmc2209 manual_stepper gear_stepper]
# Adapt accordingly to your setup and desires
# The default values are tested with the BOM NEMA14 motor
microsteps: 16
interpolate: True
run_current: 0.4
hold_current: 0.1
sense_resistor: 0.110
stealthchop_threshold: 500

[manual_stepper selector_stepper]
step_distance: 0.0125
velocity: 200
accel: 600

[tmc2209 manual_stepper selector_stepper]
microsteps: 16
run_current: 0.55
hold_current: 0.4
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 5000

# Values are for the MG90S servo
[servo ercf_servo]
maximum_servo_angle: 180
minimum_pulse_width: 0.00085
maximum_pulse_width: 0.00215

[filament_motion_sensor encoder_sensor]
pause_on_runout: False
detection_length: 3.0
extruder: extruder
# runout_gcode: ERCF_ENCODER_MOTION_ISSUE

[filament_switch_sensor toolhead_sensor]
pause_on_runout: False
# filament sensor wired to the printer MCU

##END OF FILE
