##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point for Bondtech BMG
[extruder]

max_extrude_cross_section: 50
max_extrude_only_distance: 150.0

rotation_distance: 22.4884479	#Bondtech 5mm Drive Gears
gear_ratio: 50:17				#BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.750

pressure_advance: 0.07305
pressure_advance_smooth_time: 0.040

min_temp: 1
max_temp: 270
max_power: 1.0

min_extrude_temp: 20

[tmc2209 extruder]
run_current: 0.707  #LDO-42STH20-1004AS = 1.0A * 0.707
hold_current: .4242 #Run Current * 0.6
interpolate: True

[heater_fan hotend_fan]
max_power: 1.0
kick_start_time: 0.100
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0


#[extruder1]

#microsteps: 16
#rotation_distance: 22.4884479

#nozzle_diameter: 0.400
#filament_diameter: 1.750

#pressure_advance: 0.0
#pressure_advance_smooth_time: 0.040

#control = pid
#pid_kp = 18.973
#pid_ki = 0.771
#pid_kd = 116.683
#min_temp: 1
#max_temp: 270

#max_extrude_cross_section: 50
#max_extrude_only_distance: 150.0

#[tmc2209 extruder1]
#run_current: 0.707  #LDO-42STH20-1004AS = 1.0A * 0.707
#hold_current: .4242 #Run Current * 0.6
#interpolate: True
