#35 cm * 35 cm = 1225 cm^2 .... 1225 cm^2 * 0.4 Watts = 490 Watts max .... 750W heater/490W = .653 max power

[heater_bed]
smooth_time: 3.0
max_power: 0.6
min_temp: -100
max_temp: 120
pwm_cycle_time: 0.0166 # 60hz  AC, to avoid flickering lights.

[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
home_xy_position:-10,-10
speed:100
z_hop:10

##END OF FILE
