[probe]
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NO instead of NC, change pin to ^!PA3
pin: ^PA3
x_offset: 0
y_offset: 25.0
z_offset: 0 #Use 'PROBE_ACC', and insert average value displayed
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (350,350) to respective belt positions
gantry_corners:
	-60,-10
	410,420
##	Probe points
points:
	50,25
	50,275
	300,275
	300,25
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
speed: 75
horizontal_move_z: 5
mesh_min: 40,40
mesh_max: 310,310
probe_count: 9,9
algorithm: bicubic
fade_start: 0.6
fade_end: 10.0
fade_target: 0
relative_reference_index: 40 #= ()(x points * y points) - 1) / 2)

[gcode_macro PROBE_ACC]
gcode:
     PROBE_ACCURACY

[gcode_macro BED_MESH]
gcode:
     BED_MESH_CALIBRATE

[gcode_macro MESH_CLR]
gcode:
     BED_MESH_CLEAR

##END OF FILE
